html {
  font-size: 100%; }

/*16px*/
body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.75; }

p {
  margin-bottom: 1rem;
  color: #666; }

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  margin-top: 0;
  font-size: 3.052rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem; }

h4 {
  font-size: 1.563rem; }

h5,
.h5-like {
  font-size: 1.25rem; }

small,
.text_small {
  font-size: 0.8rem; }

h1 {
  font-weight: 600;
  text-transform: uppercase; }

.bold {
  font-weight: 600; }

img {
  max-width: 100%; }

html {
  overflow-y: overlay; }

.lower-case {
  text-transform: lowercase; }

@media (min-width: 1200px) {
  .container--narrow {
    max-width: 970px; } }

@media (min-width: 1200px) {
  .container--wide {
    width: 100%;
    max-width: 1300px; } }

.text-align-center {
  text-align: center; }

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em; }

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em; }

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em; }

.ma-auto {
  margin-left: auto;
  margin-right: auto; }

.flex-col {
  margin-right: 4rem; }

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .flex-row.flex-row--direction-row {
    flex-direction: row; }
    @media (max-width: 768px) {
      .flex-row.flex-row--direction-row {
        flex-direction: column; } }

.bg-lightgray {
  background: #eaf0f6; }

.w-100 {
  width: 100%; }

.row.display-flex {
  display: flex;
  flex-wrap: wrap; }

.justify-center {
  justify-content: center; }

.col-flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.color--primary {
  color: #005984 !important; }

.align-items-center {
  align-items: center; }

.mb-1 {
  margin-bottom: 1rem; }

.mt-0 {
  margin-top: 0; }

@media (max-width: 768px) {
  .sm-relative {
    position: relative !important; } }

.headerImage {
  padding-top: 0; }

#anw-global-header-nav a {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #fff; }
  #anw-global-header-nav a:focus {
    background: transparent;
    text-decoration: underline; }
  #anw-global-header-nav a:hover {
    color: #004f76; }

#anw-global-header-nav .navbar-toggle {
  border-color: #ddd; }

#anw-global-header-nav .navbar-default {
  background-color: #fff; }

#anw-global-header-nav .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: none; }

#anw-global-header-nav .navbar-nav > li > .dropdown-menu {
  margin-top: 0.5rem;
  border-radius: 4px;
  background: #005984; }

#anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a {
  background-color: transparent;
  border: 1px solid #18688f;
  color: #18688f; }
  #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a:hover, #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a:focus {
    color: #003751;
    border: 1px solid #003751; }
  @media (max-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a {
      color: #005984; }
      #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a:hover {
        color: #003751;
        border: 1px solid #003751; } }
  @media (min-width: 1200px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a {
      margin-left: 10rem !important; } }

#anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
  background-color: #18688f;
  border: 1px solid #18688f;
  color: #fff !important; }
  #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:focus {
    color: #fff;
    background-color: #003751; }
  #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:hover {
    background-color: #004f76;
    border-color: #004f76;
    color: #fff; }
  @media (max-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
      color: #fff; }
      #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:hover {
        background-color: #003751; }
      #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:focus {
        background-color: #003751; } }

#anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a,
#anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  margin-left: 1rem;
  border-radius: 4px; }
  #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a:hover,
  #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:hover {
    text-decoration: none; }
  #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a:focus,
  #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a:focus {
    text-decoration: none; }
  @media (min-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a,
    #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
      padding: 0.5rem 2rem; } }
  @media (max-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a,
    #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
      padding: 0.5rem 1.5rem;
      margin-left: 15px;
      margin-right: 15px; } }
  @media (max-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li:nth-last-child(2) > a,
    #anw-global-header-nav .navbar-nav > li:nth-last-child(1) > a {
      max-width: 250px;
      margin: 1rem auto; } }

#anw-global-header-nav .btn {
  font-weight: bold; }
  #anw-global-header-nav .btn:hover {
    text-decoration: none; }
  #anw-global-header-nav .btn:focus {
    text-decoration: none; }
  #anw-global-header-nav .btn.btn-default.navbar-btn-primary:focus {
    color: #fff;
    background-color: #003751; }
  @media (max-width: 1000px) {
    #anw-global-header-nav .btn.btn-default.navbar-btn-primary {
      color: #fff; }
      #anw-global-header-nav .btn.btn-default.navbar-btn-primary:hover {
        background-color: #003751; }
      #anw-global-header-nav .btn.btn-default.navbar-btn-primary:focus {
        background-color: #003751; } }
  #anw-global-header-nav .btn.btn-default.navbar-btn-secondary {
    background-color: transparent;
    border: 1px solid #18688f; }
    #anw-global-header-nav .btn.btn-default.navbar-btn-secondary:hover, #anw-global-header-nav .btn.btn-default.navbar-btn-secondary:focus {
      color: #003751;
      border: 1px solid #003751; }
    @media (max-width: 1000px) {
      #anw-global-header-nav .btn.btn-default.navbar-btn-secondary {
        color: #005984; }
        #anw-global-header-nav .btn.btn-default.navbar-btn-secondary:hover {
          color: #003751;
          border: 1px solid #003751; } }
  @media (max-width: 1000px) {
    #anw-global-header-nav .btn {
      margin-left: 15px;
      margin-right: 15px; } }

@media (max-width: 1000px) {
  #anw-global-header-nav .navbar-header {
    float: none; }
  #anw-global-header-nav .navbar-left,
  #anw-global-header-nav .navbar-right {
    float: none !important; }
  #anw-global-header-nav .navbar-toggle {
    display: block; }
  #anw-global-header-nav .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  #anw-global-header-nav .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  #anw-global-header-nav .navbar-collapse.collapse {
    display: none !important; }
  #anw-global-header-nav .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  #anw-global-header-nav .navbar-nav > li {
    float: none; }
  #anw-global-header-nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  #anw-global-header-nav .collapse.in {
    display: block !important; }
  #anw-global-header-nav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #anw-global-header-nav .navbar-nav li a {
    text-align: center; }
  #anw-global-header-nav .navbar li a {
    color: #005984; }
  #anw-global-header-nav .navbar li .dropdown-menu a {
    color: #232323; }
    #anw-global-header-nav .navbar li .dropdown-menu a:hover {
      background: #eaf0f6; } }

@media (max-width: 1000px) {
  #anw-global-header-nav .btn {
    max-width: 250px;
    margin: 1rem auto; } }

/* BOOTSTRAP HEADER OVERRIDES */
#anw-global-header-nav {
  /* MOBILE NAV BRAKEPOINT OVERRIDE */ }
  #anw-global-header-nav #global-header-nav a {
    font-size: 14px; }
  #anw-global-header-nav .navbar-brand {
    padding: 0;
    height: auto;
    margin: 8px 0 8px 15px; }
  #anw-global-header-nav .navbar-nav > li > a {
    text-transform: uppercase; }
  #anw-global-header-nav .navbar-nav > li > a:hover {
    text-decoration: underline; }
  @media (min-width: 1001px) {
    #anw-global-header-nav .nav {
      display: flex;
      align-items: center; }
    #anw-global-header-nav .navbar {
      margin: 0;
      min-height: auto;
      padding: 2rem 0; }
    #anw-global-header-nav .navbar-btn {
      margin: 0;
      margin-left: 1rem; }
    #anw-global-header-nav .navbar-btn.navbar-btn-primary {
      background-color: #18688f;
      border-color: #18688f; }
    #anw-global-header-nav #global-header-nav .navbar-btn.navbar-btn-primary:hover {
      background-color: #004f76;
      border-color: #004f76;
      color: #fff; }
    #anw-global-header-nav .navbar-default .navbar-nav > li > a.navbar-btn-primary {
      color: #fff; }
    #anw-global-header-nav .navbar-btn.navbar-btn-secondary {
      border-color: #18688f; }
    #anw-global-header-nav .navbar-default .navbar-nav > li > a.navbar-btn-secondary {
      color: #18688f; }
    #anw-global-header-nav .navbar-brand {
      padding: 0;
      height: auto;
      margin: 0; } }
  @media (min-width: 1000px) {
    #anw-global-header-nav .navbar-default .navbar-nav > li > a {
      color: #18688f; }
    #anw-global-header-nav .navbar-nav > li > a {
      padding: 0;
      margin-left: 1.3rem; }
    #anw-global-header-nav .navbar-nav > li:first-child > a {
      margin-left: 0; }
    #anw-global-header-nav .navbar-nav > li > .navbar-btn {
      padding: 0.5rem 1.5rem; } }
  @media (min-width: 768px) {
    #anw-global-header-nav .navbar > .container .navbar-brand,
    #anw-global-header-nav .navbar > .container-fluid .navbar-brand {
      margin-left: 0; } }
  @media (min-width: 1000px) {
    #anw-global-header-nav .navbar-nav > li > a {
      padding: 0;
      margin-left: 2rem; }
    #anw-global-header-nav .navbar-nav > li > .navbar-btn {
      padding: 0.5rem 2rem; } }
  @media (min-width: 1200px) {
    #anw-global-header-nav .big-marg-left-lg {
      margin-left: 4rem; } }
  @media (min-width: 768px) {
    #anw-global-header-nav .navbar-default .navbar-collapse,
    #anw-global-header-nav .navbar-default .navbar-form {
      border: NONE; }
    #anw-global-header-nav .navbar-collapse {
      padding: 0; } }
  @media (max-width: 1000px) {
    #anw-global-header-nav .navbar-header {
      float: none; }
    #anw-global-header-nav .navbar-left,
    #anw-global-header-nav .navbar-right {
      float: none !important; }
    #anw-global-header-nav .navbar-toggle {
      display: block; }
    #anw-global-header-nav .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    #anw-global-header-nav .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px; }
    #anw-global-header-nav .navbar-collapse.collapse {
      display: none !important; }
    #anw-global-header-nav .navbar-nav {
      float: none !important;
      margin-top: 7.5px; }
    #anw-global-header-nav .navbar-nav > li {
      float: none; }
    #anw-global-header-nav .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px; }
    #anw-global-header-nav .collapse.in {
      display: block !important; } }

#anw-global-header-nav .navbar-toggle .icon-bar {
  transition: 180ms ease-in-out;
  position: relative; }

#anw-global-header-nav .navbar-toggle .icon-bar:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -7px; }

#anw-global-header-nav .navbar-toggle .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px; }

#anw-global-header-nav .navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0; }

#anw-global-header-nav .navbar-toggle.collapsed .icon-bar {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
  opacity: 1; }

/* FOOTER STYLES */
#anw-global-footer {
  color: #fff; }
  #anw-global-footer address {
    line-height: 1.8; }
  #anw-global-footer h3,
  #anw-global-footer a {
    color: #fff; }
  #anw-global-footer p,
  #anw-global-footer a,
  #anw-global-footer li {
    font-size: 1rem; }
  #anw-global-footer p {
    color: #fff; }
  #anw-global-footer .btn-white:hover {
    color: #005984; }
  #anw-global-footer .footer-logo img {
    max-height: 32px; }
  #anw-global-footer .footer-links-section,
  #anw-global-footer .footer-legal-section {
    text-align: center; }
  #anw-global-footer .footer-links-section {
    background-color: #005984;
    min-height: 200px;
    padding: 5rem 0; }
  #anw-global-footer .footer-links ul {
    list-style: none;
    padding: 0; }
  #anw-global-footer .footer-legal-section {
    background-color: #005077;
    min-height: 50px;
    padding: 1.5rem 0; }
  #anw-global-footer .footer-legal {
    margin: 2rem 0 0 0; }
  #anw-global-footer .footer-legal-section .footer-socials ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  #anw-global-footer .footer-legal-section .footer-socials ul li {
    display: inline-block;
    padding-left: 1rem; }
  #anw-global-footer .footer-legal-section .footer-socials ul li:first-child {
    padding-left: 0; }
  @media (max-width: 768px) {
    #anw-global-footer .footer-logo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%; } }
  @media (min-width: 768px) {
    #anw-global-footer .flex-row {
      flex-direction: row; }
    #anw-global-footer .footer-legal {
      margin: 0;
      font-size: 0.8rem; } }
  @media (min-width: 992px) {
    #anw-global-footer .footer-links-section {
      text-align: left; } }

.btn {
  font-size: 1rem;
  transition: all ease-in-out 180ms; }
  .btn.btn-small {
    padding: 0.8rem 1rem;
    font-size: 0.8rem; }
  .btn.btn-white {
    color: #fff;
    box-shadow: inset 0px 0px 0px 1px #fff; }
    .btn.btn-white:hover, .btn.btn-white:focus {
      background-color: #fff;
      color: #232323; }
  .btn.btn-primary {
    background-color: #005984;
    color: #fff;
    text-transform: uppercase; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #003751; }
  .btn.btn-secondary, .btn.btn-ghost {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1px #005984;
    color: #005984; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-ghost:hover, .btn.btn-ghost:focus {
      color: #fff;
      box-shadow: inset 0px 0px 0px 1px #003751;
      background-color: #003751; }
  .btn.btn--underline {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid;
    border-radius: 0;
    padding: 0 0 0.5rem 0;
    font-size: 1.563rem; }
    .btn.btn--underline.btn--underline-white {
      color: #fff; }

.anw-page-heading {
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .anw-page-heading .page-heading-content {
    color: #fff;
    text-align: center;
    margin: 8rem 0; }
    .anw-page-heading .page-heading-content h1,
    .anw-page-heading .page-heading-content .page-heading-content--header {
      color: #fff;
      font-size: 2.441rem; }
    .anw-page-heading .page-heading-content .page-heading-content--sub-header {
      color: #fff;
      font-size: 1.563rem;
      font-weight: 200;
      line-height: 1.4; }
    .anw-page-heading .page-heading-content .btn-play {
      display: inline-block;
      margin: 3rem 0;
      transition: opacity ease-in-out 180ms; }
    .anw-page-heading .page-heading-content .btn-play:hover {
      opacity: 0.5; }

body {
  margin: 0;
  padding: 0; }

.editorial {
  display: block;
  width: 100%;
  height: 30px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  position: absolute;
  left: 0px;
  float: left; }

.parallax1 > use {
  animation: move-forever1 14s linear infinite; }
  .parallax1 > use:nth-child(1) {
    animation-delay: -2s; }

.parallax2 > use {
  animation: move-forever2 12s linear infinite; }
  .parallax2 > use:nth-child(1) {
    animation-delay: -2s; }

.parallax3 > use {
  animation: move-forever3 10s linear infinite; }
  .parallax3 > use:nth-child(1) {
    animation-delay: -2s; }

.parallax4 > use {
  animation: move-forever4 8s linear infinite; }
  .parallax4 > use:nth-child(1) {
    animation-delay: -2s; }

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%); }
  100% {
    transform: translate(-90px, 0%); } }

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%); }
  100% {
    transform: translate(85px, 0%); } }

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%); }
  100% {
    transform: translate(-90px, 0%); } }

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%); }
  100% {
    transform: translate(85px, 0%); } }

.anw-section {
  padding-top: 4rem;
  padding-bottom: 4rem; }

#page-header-video {
  display: none; }

.anw-card {
  padding: 2rem;
  box-shadow: 0px 6px 8px 0px rgba(45, 35, 66, 0.15);
  border-radius: 8px;
  z-index: 2;
  margin-bottom: 2rem;
  flex-basis: 100%;
  background: #fff; }
  .anw-card .anw-card-icon {
    margin-bottom: 1rem; }
  .anw-card .anw-card--title {
    margin-top: 0;
    font-weight: 600; }
  .anw-card .anw-card--category {
    text-transform: uppercase;
    color: #005984;
    margin: 0; }
  .anw-card.anw-card--subtle {
    background: transparent;
    box-shadow: none;
    margin: 0; }

.anw-card--blog-blurb .anw-card--title {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.563rem; }

.anw-card--blog-blurb .anw-card--author-photo {
  display: block;
  border-radius: 50%;
  width: 3rem;
  margin-bottom: 0.5rem; }

.anw-card--blog-blurb .anw-card--author-name {
  margin: 0; }

.anw-card--blog-blurb .anw-card--post-date {
  margin: 0;
  font-size: 0.8rem; }

.anw-card--blog-blurb .anw-card--content-container {
  min-height: 26rem;
  position: relative; }

.anw-card--blog-blurb .anw-card--meta-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem; }

.anw-card--bg {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 0; }
  .anw-card--bg .anw-card--content-container {
    padding: 2rem; }
    @media (min-width: 992px) {
      .anw-card--bg .anw-card--content-container {
        padding: 0; } }
    .anw-card--bg .anw-card--content-container .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: #fff; }
      @media (min-width: 992px) {
        .anw-card--bg .anw-card--content-container .anw-card--title {
          font-size: 1.563rem; } }
      @media (min-width: 1200px) {
        .anw-card--bg .anw-card--content-container .anw-card--title {
          font-size: 2.441rem; } }

.anw-card--image-top {
  padding: 0; }
  .anw-card--image-top img {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .anw-card--image-top .anw-card--content-container {
    padding: 2rem; }
    .anw-card--image-top .anw-card--content-container .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: #232323; }

.anw-card--image-left {
  padding: 0; }
  .anw-card--image-left .anw-card--image-container .anw-card--image-left-background {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
    @media (max-width: 767px) {
      .anw-card--image-left .anw-card--image-container .anw-card--image-left-background {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        height: 400px; } }
  .anw-card--image-left .anw-card--content-container {
    padding: 2rem; }
    @media (min-width: 768px) {
      .anw-card--image-left .anw-card--content-container {
        padding-left: 0rem; } }
    .anw-card--image-left .anw-card--content-container .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: #232323; }

.anw-card.anw-card--info .anw-card-title {
  font-size: 1.563rem;
  font-weight: 600;
  color: #232323;
  margin-top: 0.5rem; }

.anw-card--link {
  position: relative;
  transition: box-shadow ease-in-out 180ms; }
  .anw-card--link .anw-card--description {
    color: #666;
    margin-bottom: 3rem; }
  .anw-card--link:hover {
    box-shadow: 0px 20px 18px 0px rgba(45, 35, 66, 0.15);
    text-decoration: none; }
  .anw-card--link:focus {
    text-decoration: none;
    box-shadow: 0px 20px 18px 0px rgba(45, 35, 66, 0.15); }
  .anw-card--link .anw-card--link-anchor {
    position: absolute;
    bottom: 2rem;
    left: 2rem; }

.anw-card-container {
  display: flex;
  height: 100%; }

.anw-card.anw-card--callout {
  margin: 0 auto; }
  .anw-card.anw-card--callout.anw-card--callout-bg {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .anw-card.anw-card--callout {
      max-width: 960px;
      width: 100vw; } }
  .anw-card.anw-card--callout .anw-card-title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem; }

.anw-card.anw-card--accordion {
  padding: 1rem 2rem; }
  .anw-card.anw-card--accordion .anw-card-title {
    margin: 0;
    color: #005984; }
  .anw-card.anw-card--accordion .btn {
    color: #005984;
    font-weight: 600;
    padding: 0; }
    .anw-card.anw-card--accordion .btn i {
      padding-right: 1rem; }

.anw-section {
  position: relative; }

.anw-section.divider-bottom {
  padding-bottom: 8rem; }

.anw-section {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .anw-section.anw-section--sales {
    padding-top: 10rem; }
  .anw-section.anw-section--fancy-borders {
    padding: 0; }
    .anw-section.anw-section--fancy-borders .fancy-border {
      position: absolute;
      filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05)); }
      .anw-section.anw-section--fancy-borders .fancy-border.fancy-border--no-overlay {
        position: relative; }
  .anw-section .anw-section--fancy-border-top {
    position: absolute;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05));
    top: 0; }
    .anw-section .anw-section--fancy-border-top.no-shadow {
      filter: none; }
    .anw-section .anw-section--fancy-border-top.anw-section--fancy-border-on-white {
      filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.1)); }
  .anw-section .anw-section--fancy-border-bottom {
    position: absolute;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05));
    bottom: 0; }

#main-content-wrapper {
  overflow: hidden; }

.waves-nudge {
  padding-top: 4rem;
  margin-bottom: 6rem; }

.anw-accordion__heading {
  margin: 1rem 0; }
  .anw-accordion__heading button {
    color: #005984;
    font-weight: 400;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    background: transparent;
    border: none; }
    .anw-accordion__heading button:focus, .anw-accordion__heading button:active {
      text-decoration: underline;
      outline: none; }
    .anw-accordion__heading button:hover {
      text-decoration: underline; }
  .anw-accordion__heading button .fa {
    transition: all ease-in-out 180ms;
    transform: rotate(90deg); }
  .anw-accordion__heading button[aria-expanded="false"] .fa {
    transform: rotate(0deg); }

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
/* Tabs panel */
.tabbable-panel {
  padding: 10px; }

/* Default mode */
.tabbable-line > .nav-tabs {
  border-bottom: 1px solid #666;
  margin: 0px;
  display: flex;
  justify-content: space-around; }

.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  border-bottom: 4px solid #a6a6a6; }

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #666;
  font-weight: 600; }

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6; }

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #666; }

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333; }

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6; }

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px; }

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #949b50;
  position: relative; }

.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333; }

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040; }

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0; }

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent; }

.nav-tabs li {
  position: relative;
  top: 1px; }
