/* GLOBAL STYLES */
p,
a,
li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

/* BUTTONS */
#global-header-nav a {
  text-transform: uppercase;
  letter-spacing: 0.8px; }
  #global-header-nav a:focus {
    background: transparent;
    text-decoration: underline; }

#global-header-nav .btn {
  font-weight: bold; }
  #global-header-nav .btn:hover {
    text-decoration: none; }
  #global-header-nav .btn:focus {
    text-decoration: none; }
  #global-header-nav .btn.btn-default.navbar-btn-secondary {
    background-color: transparent;
    border: 1px solid #18688f; }
    #global-header-nav .btn.btn-default.navbar-btn-secondary:hover, #global-header-nav .btn.btn-default.navbar-btn-secondary:focus {
      color: #003751;
      border: 1px solid #003751; }
    @media (max-width: 768px) {
      #global-header-nav .btn.btn-default.navbar-btn-secondary {
        color: #005984; }
        #global-header-nav .btn.btn-default.navbar-btn-secondary:hover {
          color: #003751;
          border: 1px solid #003751; } }
  #global-header-nav .btn.btn-default.navbar-btn-primary:focus {
    color: #fff;
    background-color: #003751; }
  @media (max-width: 768px) {
    #global-header-nav .btn.btn-default.navbar-btn-primary {
      color: #fff; }
      #global-header-nav .btn.btn-default.navbar-btn-primary:hover {
        background-color: #003751; }
      #global-header-nav .btn.btn-default.navbar-btn-primary:focus {
        background-color: #003751; } }
  @media (max-width: 768px) {
    #global-header-nav .btn {
      max-width: 200px;
      margin-left: 15px; } }

#global-header-nav a:hover {
  color: #004f76; }

.btn {
  padding: 1rem 2rem; }

.btn-white {
  color: #fff;
  border: 1px solid #fff; }

/* HEADER STYLES */
.navbar-toggle {
  border-color: #ddd; }

.navbar-default {
  background-color: #fff; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: none; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 1.5rem;
  border-radius: 5px;
  background: #005984; }

.navbar-nav > li > .dropdown-menu a {
  color: #fff; }

/* BOOTSTRAP HEADER OVERRIDES */
#global-header-nav a {
  font-size: 14px; }

.navbar-brand {
  padding: 0;
  height: auto;
  margin: 8px 0 8px 15px; }

.navbar-nav > li > a {
  text-transform: uppercase; }

.navbar-nav > li > a:hover {
  text-decoration: underline; }

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center; }
  .navbar {
    margin: 0;
    min-height: auto;
    padding: 2rem 0; }
  .navbar-btn {
    margin: 0;
    margin-left: 1rem; }
  .navbar-btn.navbar-btn-primary {
    background-color: #18688f;
    border-color: #18688f; }
  #global-header-nav .navbar-btn.navbar-btn-primary:hover {
    background-color: #004f76;
    border-color: #004f76;
    color: #fff; }
  .navbar-default .navbar-nav > li > a.navbar-btn-primary {
    color: #fff; }
  .navbar-btn.navbar-btn-secondary {
    border-color: #18688f; }
  .navbar-default .navbar-nav > li > a.navbar-btn-secondary {
    color: #18688f; }
  .navbar-brand {
    padding: 0;
    height: auto;
    margin: 0; } }

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    color: #18688f; }
  .navbar-nav > li > a {
    padding: 0;
    margin-left: 1.3rem; }
  .navbar-nav > li:first-child > a {
    margin-left: 0; }
  .navbar-nav > li > .navbar-btn {
    padding: 0.5rem 1.5rem; } }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0; } }

@media (min-width: 992px) {
  .navbar-nav > li > a {
    padding: 0;
    margin-left: 2rem; }
  .navbar-nav > li > .navbar-btn {
    padding: 0.5rem 2rem; } }

@media (min-width: 1200px) {
  .big-marg-left-lg {
    margin-left: 8rem; } }

/* MOBILE NAV BRAKEPOINT OVERRIDE */
@media (min-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: NONE; }
  .navbar-collapse {
    padding: 0; } }

@media (max-width: 992px) {
  .navbar-header {
    float: none; }
  .navbar-left,
  .navbar-right {
    float: none !important; }
  /* .navbar-toggle {
    display: block;
  } */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  /* .navbar-collapse.collapse {
    display: none !important;
  } */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

/* FOOTER STYLES */
#global-footer .flex-col {
  margin-right: 4rem; }

#global-footer .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

#global-footer .footer-logo img {
  max-height: 32px; }

#global-footer h3,
#global-footer p,
#global-footer a,
#global-footer li,
#global-footer {
  color: #fff; }

#global-footer p,
#global-footer a,
#global-footer li,
#global-footer {
  font-size: 1.3rem; }

#global-footer h3 {
  font-size: 2rem; }

.footer-links-section,
.footer-legal-section {
  text-align: center; }

.footer-links-section {
  background-color: #005984;
  min-height: 200px;
  padding: 5rem 0; }

.footer-links ul {
  list-style: none;
  padding: 0; }

.footer-legal-section {
  background-color: #005077;
  min-height: 50px;
  padding: 1.5rem 0; }

.footer-legal {
  margin: 2rem 0; }

.footer-legal-section .footer-socials ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.footer-legal-section .footer-socials ul li {
  display: inline-block;
  padding-left: 1rem; }

.footer-legal-section .footer-socials ul li:first-child {
  padding-left: 0; }

#global-footer li,
#global-footer address div {
  margin-bottom: 0.6rem; }

#global-footer li,
#global-footer address div,
#global-footer p {
  font-size: 12px; }

@media (min-width: 768px) {
  #global-footer .flex-row {
    flex-direction: row; }
  .footer-legal {
    margin: 0; } }

@media (min-width: 992px) {
  .footer-links-section {
    text-align: left; } }

/* MOCKUP STYLES */
.jumbotron {
  background-image: linear-gradient(109.6deg, #79cbca 11.2%, #77a1d3 91.1%);
  height: 500px;
  color: #fff; }
