.anw-accordion {
}

.anw-accordion__heading {
  margin: 1rem 0;
  button {
    color: $primaryColor;
    font-weight: 400;
    text-decoration: none;
    font-family: $sansSerif;
    font-size: 1.25rem;
    background: transparent;
    border: none;

    &:focus,
    &:active {
      text-decoration: underline;
      outline: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  button .fa {
    transition: all ease-in-out $animationSpeed;
    transform: rotate(90deg);
  }

  button[aria-expanded="false"] .fa {
    transform: rotate(0deg);
  }
}
