.btn {
  font-size: 1rem;
  transition: all ease-in-out $animationSpeed;

  &.btn-small {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }

  &.btn-white {
    color: $white;
    box-shadow: inset 0px 0px 0px 1px $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &.btn-primary {
    background-color: $primaryColor;
    color: $white;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: darken($primaryColor, 10%);
    }
  }

  &.btn-secondary,
  &.btn-ghost {
    box-sizing: border-box;
    background-color: $white;
    // border: 1px solid $primaryColor;
    box-shadow: inset 0px 0px 0px 1px $primaryColor;
    color: $primaryColor;

    &:hover,
    &:focus {
      color: $white;
      box-shadow: inset 0px 0px 0px 1px darken($primaryColor, 10%);
      background-color: darken($primaryColor, 10%);
    }
  }
}
