.anw-card {
  padding: 2rem;
  box-shadow: 0px 6px 8px 0px rgba(45, 35, 66, 0.15);
  border-radius: $borderRadius;
  z-index: 2;
  margin-bottom: 2rem;
  flex-basis: 100%;
  background: $WHITE;

  .anw-card-icon {
    margin-bottom: 1rem;
  }

  .anw-card--title {
    margin-top: 0;
    font-weight: 600;
  }

  .anw-card--category {
    text-transform: uppercase;
    color: $primaryColor;
    margin: 0;
  }

  &.anw-card--subtle {
    background: transparent;
    box-shadow: none;
    margin: 0;
  }
}

.anw-card--blog-blurb {
  .anw-card--title {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.563rem;
  }

  .anw-card--author-photo {
    display: block;
    border-radius: 50%;
    width: 3rem;
    margin-bottom: 0.5rem;
  }
  .anw-card--author-name {
    margin: 0;
  }
  .anw-card--post-date {
    margin: 0;
    font-size: 0.8rem;
  }

  .anw-card--content-container {
    min-height: 26rem;
    position: relative;
  }

  .anw-card--meta-content {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}

.anw-card--bg {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 0;

  .anw-card--content-container {
    padding: 2rem;

    @media (min-width: 992px) {
      padding: 0;
    }
    .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: $WHITE;
      @media (min-width: 992px) {
        font-size: 1.563rem;
      }
      @media (min-width: 1200px) {
        font-size: 2.441rem;
      }
    }
  }
}

.anw-card--image-top {
  padding: 0;
  img {
    max-width: 100%;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }
  .anw-card--content-container {
    padding: 2rem;
    .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: $BLACK;
    }
  }
}

.anw-card--image-left {
  padding: 0;

  .anw-card--image-container {
    .anw-card--image-left-background {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      display: flex;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      @media (max-width: 767px) {
        border-top-right-radius: $borderRadius;
        border-bottom-left-radius: 0;
        height: 400px;
      }
    }
  }
  .anw-card--content-container {
    padding: 2rem;
    @media (min-width: 768px) {
      padding-left: 0rem;
    }
    .anw-card--title {
      margin-top: 0;
      font-weight: 600;
      color: $BLACK;
    }
  }
}

.anw-card.anw-card--info {
  .anw-card-title {
    font-size: 1.563rem; // Same as H4 from typescale
    font-weight: 600;
    color: $BLACK;
    margin-top: 0.5rem;
  }
}

.anw-card--link {
  position: relative;
  .anw-card--description {
    color: $paragraphColor;
    margin-bottom: 3rem;
  }
  transition: box-shadow ease-in-out $animationSpeed;
  &:hover {
    box-shadow: 0px 20px 18px 0px rgba(45, 35, 66, 0.15);
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    box-shadow: 0px 20px 18px 0px rgba(45, 35, 66, 0.15);
  }
  .anw-card--link-anchor {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}

.anw-card-container {
  display: flex;
  height: 100%;
}

.anw-card.anw-card--callout {
  &.anw-card--callout-bg {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 960px;
    width: 100vw;
  }
  .anw-card-title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.anw-card.anw-card--accordion {
  padding: 1rem 2rem;
  .anw-card-title {
    margin: 0;
    color: $primaryColor;
  }

  .btn {
    color: $primaryColor;
    font-weight: 600;
    padding: 0;
    i {
      padding-right: 1rem;
    }
  }
}
