.anw-section {
  position: relative;
}

.anw-section {
  &.divider-bottom {
    padding-bottom: 8rem;
  }
}

.anw-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &.anw-section--sales {
    padding-top: 10rem;
  }
  &.anw-section--fancy-borders {
    padding: 0;
    .fancy-border {
      position: absolute;
      filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05));
    }
  }

  .anw-section--fancy-border-top {
    position: absolute;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05));
    top: 0;

    &.anw-section--fancy-border-on-white {
      filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.1));
    }
  }
  .anw-section--fancy-border-bottom {
    position: absolute;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.05));
    bottom: 0;
  }
}
