.lower-case {
  text-transform: lowercase;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

.ma-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  margin-right: 4rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bg-lightgray {
  background: $LIGHT_GRAY;
}

// Flexbox version of bootstrap row
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

// MOVE THIS INTO A SECTION CSS WHEN YOU'RE NOT SO LAZY
.custom-shape-divider-bottom-1608162505 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1608162505 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
}

.custom-shape-divider-bottom-1608162505 .shape-fill {
  fill: $LIGHT_GRAY;
}

.anw-section {
  position: relative;
}

.anw-section {
  &.divider-bottom {
    padding-bottom: 8rem;
  }
}
