$CSS_BLUE: #005984;
$OLIVE: #949b50;
$FINCH: #5f604b;
$WHITE: #fff;
$BLACK: #232323;
$DARK_GRAY: #666;
$LIGHT_GRAY: #eaf0f6;

$primaryColor: $CSS_BLUE;
$secondaryColor: $OLIVE;
$paragraphColor: $DARK_GRAY;
$white: $WHITE;
$black: $BLACK;
$darkGray: $DARK_GRAY;

$borderRadius: 8px;
$animationSpeed: 180ms;

$sm-break-point: 1000px;

$sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
